@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Clothing_Store.ViewModels.Entities
@inject SignInManager<RegisterUserEntity> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Clothing Store</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Custom CSS -->
    <style>
        /* Ensure full-screen height */
        html, body {
            height: 100%;
        }

        /* Set carousel height */
        .carousel-item img {
            object-fit: cover;
            height: 80vh; /* Adjust as needed */
            width: 100%;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="navbar-brand" asp-controller="Products" asp-action="Index">Clothing Store</a>
                }
                else
                {
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">Clothing Store</a>
                }
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <ul class="navbar-nav mr-auto">

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Products" asp-action="GetProductsByCategory" asp-route-category="Mens">Men</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Products" asp-action="GetProductsByCategory" asp-route-category="Women">Women</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Products" asp-action="GetProductsByCategory" asp-route-category="Kids">Kids</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">About</a>
                            </li>
                        </ul>
                    }
                    <ul class="navbar-nav ms-auto">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link bi bi-cart" asp-area="" asp-controller="Cart" asp-action="Index">@TempData["CartItemCount"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link bi bi-person-circle" asp-area="" asp-controller="MyAccount" asp-action="MyAccount"></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link bi bi-box-arrow-right" asp-area="" asp-controller="Account" asp-action="Logout"></a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link bi bi-box-arrow-in-left" asp-area="" asp-controller="Account" asp-action="Login"></a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
    asp-fallback-test="window.jQuery"
    crossorigin="anonymous"
    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>*@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
