@model Clothing_Store.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2 class="text-center mb-4" style="padding-top: 2em;">Login</h2>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow p-3 mb-5 bg-body rounded" style="background-color: #f8d7da;">
            <div class="card-body">
                <form asp-action="Login" method="post">
                    @* <div asp-validation-summary="All" class="text-danger"></div>*@
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <a asp-action="Register" asp-controller="Account">Register Here</a>
                    </div>
                    <button type="submit" class="btn btn-success">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var customeMessage = '@(TempData["LoginError"] as string)';

        if (customeMessage) {
            Swal.fire(
                'Clothing Store',
                customeMessage,
                'error').then(function () {
                    var url = '@Url.Action("Login", "Account")';
                    window.location.href = url;
                });
        }
    });
</script>